include ../common/head.pug
include ../common/navbar.pug
include ../common/footer.pug

doctype html
html(lang='en')
  +head(title)
  body.bg-light
    +navbar()
    main.container
      .row.post
        #main-column.col-12.col-lg-7
          #post-stats-container.card.border-0.mt-3.mb-1.p-4.bg-white.shadow
            #post-image-container(style="height: " + containerHeight + "px")
              img#post-image(src=url alt=postTitle style="max-width: " + imageWidth + "px")
            .d-flex.mt-4.flex-wrap
              span.mr-auto= post.views.toLocaleString() + " Views"
              span.mx-2 #{post.comments} Comments
              #opdoot-container(class=opdootType)
                button#button-up.bg-white
                  img.thumb-up(src="/images/opdoot/up.svg" width="25" alt="upvote")
                span#opdoots.mx-1= post.opdoots
                button#button-down.bg-white
                  img.thumb-down(src="/images/opdoot/down.svg" width="25" alt="upvote")
            if tags
              .d-flex.mt-4.flex-wrap
                for tag in tags
                  a#tag.badge.badge-light(href="")
                    span= tag.name
          #comment-section
            .card.border-0.mt-3.mb-1.p-4.bg-white.shadow
              if user == null
                #signin.text-center
                  a(href="/signup") Sign up 
                  | or
                  a(href="/login")  Login 
                  | to post a comment
              else
                #create-comment.d-flex.flex-column
                  .d-flex
                    .posted-by.mr-3
                      a(href="") 
                        img.profile-picture(src=poster.profilePicture, alt=poster.username width="50" height="50")
                    .d-flex.flex-column.w-100
                      textarea.comment-area.form-control(placeholder="Comment..." maxlength="200" type="text" name="comment")
                      .d-flex.justify-content-between
                        span.comment-char.d-block.small 0/150
                        button.post-comment.btn.btn-primary.align-self-end.mt-2 Comment
            .card.border-0.mt-3.mb-4.p-4.bg-white.shadow
              #comment-section-bar.d-flex
                h5.h5 #{post.comments} Comments
              #comments.d-flex.flex-column 
                #user-comment-hidden.media.mt-3(data-comment-id="")
                  .posted-by.mr-3
                    a(href="") 
                      img.profile-picture(src=user ? user.profilePicture : "", alt=poster.username width="50" height="50")
                  .media-body
                    .comment-body
                      .d-flex.justify-content-between
                        span.comment-username= user ? user.username : ""
                        button.options(data-toggle="dropdown" hidden)
                          img(width="22" src="/images/ellipses.svg" alt="options")
                        .dropdown-menu.dropdown-menu-right.shadow-sm(aria-labelledby='dropdownMenuButton')
                          button.show-delete-modal.dropdown-item(data-toggle="modal" data-target="#delete-comment-modal") Delete
                      .comment-text.mb-1
                      .comment-bar.d-flex.justify-content-between.mb-2
                        .comment-opdoot-container.align-self-center(class= user ? "" : "novote")
                          button.comment-button-up.bg-white
                            img.thumb-up(src="/images/opdoot/up.svg" width="20" alt="upvote")
                          span.comment-opdoots.mx-1 0
                          button.comment-button-down.bg-white
                            img.thumb-down(src="/images/opdoot/down.svg" width="20" alt="upvote")
                          span.timeago.small.text-muted a few seconds ago
                          button.toggle-replies.small.text-muted.ml-2 
                        button.reply-comment.btn.btn-primary.btn-sm.align-self-end Reply
                    .create-comment.d-flex.flex-column(hidden)
                      .d-flex
                        .posted-by.mr-3
                          a(href="") 
                            img.profile-picture(src=poster.profilePicture, alt=poster.username width="50" height="50")
                        .d-flex.flex-column.w-100
                          textarea.comment-area.form-control(placeholder="Comment..." maxlength="200" type="text" name="comment")
                          .d-flex.justify-content-between
                            span.comment-char.d-block.small 0/150
                            div.mt-2
                              button.cancel-comment.btn.btn-primary.align-self-end.mr-3 Cancel
                              button.post-comment.btn.btn-primary.align-self-end Comment
                    .replies(hidden)
                    .d-flex.justify-content-center
                      button.load-replies.btn.btn-primary.btn-sm(hidden) Load More
              button#load-comments.btn.btn-primary.mt-4.mx-auto Load More
        .col.post-info-container
          .card.border-0.mt-3.p-4.bg-white.shadow.post-info
            if title
              h4.h4.mt-2= post.title
            if description
              p.mt-2= description
            .d-flex.position-relative.mt-1.align-items-center.justify-content-between
              .posted-by
                a(href="") 
                  img.profile-picture(src=poster.profilePicture, alt=poster.username width="40" height="40")
                a.username(href="") 
                  span.mx-2.link= poster.username
              .posted-on
                time(datetime=post.createdAt).mr-2= post.createdAt.toLocaleDateString(undefined, { day: 'numeric' , month: 'short' , year: 'numeric'})    
      .row
        .col-12.col-lg-7#mobile-view
      #delete-comment-modal.modal.fade.shadow-lg(tabindex='-1' role='dialog' aria-labelledby='deleteCommentModal' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLongTitle.modal-title Delete Comment
              button.close(type='button' data-dismiss='modal' aria-label='Close')
            .modal-body
              | Are you sure you want to delete this comment?
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
              button#delete-comment.btn.btn-primary(type='button') Delete
        
        
  +footer("post")
