include ../common/head.pug
include ../common/navbar.pug
include ../common/footer.pug

doctype html
html(lang='en')
  +head(title)
  body.bg-light
    +navbar()
    main.container
      .row.post
        .col-12.col-lg-7
          #post-stats-container.card.border-0.my-3.p-4.bg-white.shadow
            #post-image-container(style="height: " + containerHeight + "px")
              img#post-image(src=url alt=postTitle style="max-width: " + imageWidth + "px")
            .d-flex.mt-4.flex-wrap
              #opdoot-container.d-flex(class=opdootType)
                button#button-up.bg-white
                  img(src="/images/opdoot/up.svg" width="28" alt="upvote")
                span#opdoots= post.opdoots
                button#button-down.bg-white
                  img(src="/images/opdoot/down.svg" width="28" alt="upvote")
              span= post.views.toLocaleString() + " Views"
            if tags
              .d-flex.mt-4.flex-wrap
                for tag in tags
                  a#tag.badge.badge-light(href="")
                    span= tag.name
        .col
          .card.border-0.my-3.p-4.bg-white.shadow.post-info
            if title
              h4.h4.mt-2= post.title
            if description
              p.mt-2= description
            .d-flex.position-relative.mt-1.align-items-center.justify-content-between
              .posted-by
                a(href="") 
                  img.profile-picture(src=poster.profilePicture, alt="profile picture")
                a(href="") 
                  span.mx-2.link= poster.username
              .posted-on
                span Posted on 
                time(datetime=post.createdAt).mr-2= post.createdAt.toLocaleDateString(undefined, { day: 'numeric' , month: 'short' , year: 'numeric'})
  +footer("post")
