include ../common/head.pug
include ../common/footer.pug

doctype html
html(lang='en')
  +head(title)
  body.bg-light
    main.login-page
      .h-100
        .card.bg-white.mx-auto.px-3.signup.shadow.border-0.text-center
          a(href="/")
            img.card-img-top.mt-5(src="images/logo.svg", alt="Opdoot" height="62")
          h4.font-weight-bold.mt-3.text-dark Join Opdoot
          .card-body
            form.form-group(action="/signup" method='POST')
              p.small.text-danger #{errors.missing}
              input#email(placeholder="Email" name='email', type='email' value=formData.email).form-control.bg-light
              p#email-error.small.text-danger.text-left #{errors.email}
              input#username(placeholder="Username" name='username', type='text' value=formData.username).form-control.bg-light.mt-4
              p#username-error.small.text-danger.text-left #{errors.username}
              input#password(placeholder="Password" autocomplete="off" name='password', type='password').form-control.bg-light.mt-4
              p#password-error.small.text-danger.text-left #{errors.password}
              span.small.text-secondary.mt-3 By clicking on Sign Up you agree with our 
                a.card-link(href="/terms") Terms of Service 
              span.small and 
                 a.card-link(href="/privacy") Privacy Policy
              button.btn.btn-primary.w-100.mb-1.mt-3(disabled) Sign Up
            span.small.text-secondary Have an account?  
              a.card-link(href="/login") Log in
            .third-party.d-flex.flex-row.mt-4
              span.d-inline-block.border-bottom.w-100.mb-2.mr-2
              span.text-secondary OR
              span.d-inline-block.border-bottom.w-100.mb-2.ml-2
            span.text-secondary.small Sign in with
            .d-flex.justify-content-center.socials.mb-5.mt-4
              a.mx-3(href="/auth/facebook")
                img.social(src="images/facebook.svg", alt="facebook" width="48")
              a.mx-3(href="/auth/google")
                img.social(src="images/google.svg", alt="google"  width="48" )
    +footer("signup")
